.mail {
  flex: 1;
  background-color: #403f4e;
}

.mail__tools {
  display: flex;
  justify-content: space-between;
}

.mail__toolsLeft {
  display: flex;
}

.mail__toolsRight {
  display: flex;
}

.mail__buttonWrapper {
  padding: 10px;
}

.mail__buttonWrapper > .MuiSvgIcon-root {
  color: #1098f7;
  cursor: pointer;
}

.mail__buttonWrapper:hover > .MuiSvgIcon-root {
  color: white;
}

.mail__body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: #403f4e;
  padding: 20px;
}
